@model IEnumerable<NAKATHIWEBPORTAL.ViewModel.ContributionVM>

<script src="~/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script src="~/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="~/global_assets/js/demo_pages/datatables_basic.js"></script>

@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissable" id="alert">
        <strong>@TempData["success"]</strong>
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-success alert-dismissable" id="alert">
        <strong>@TempData["error"]</strong>
    </div>
}

<div class="navbar navbar-expand-lg navbar-light " style="margin-bottom:16px">

    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="~/contribution/vehiclebased" class="navbar-nav-link  text-primary d-none d-md-block">
                <i class="icon-add"></i>
                Create New

            </a>
        </li>
    </ul>





</div>





<!-- Basic datatable -->
<!-- /main navbar -->

<div class="card">

    <div class="card-header header-elements-inline">
        <h5 class="card-title text-center">Contributions</h5>

        <div class="header-elements">
            <div class="list-icons">

            </div>
        </div>
    </div>


    <table class="table datatable-basic">
        <thead>
            <tr>
                <th>
                    Id
                </th>

                <th>
                    Transaction ID
                </th>
                <th>
                    Member ID
                </th>
                <th>
                    Contribution Type
                </th>

                <th>
                    Amount
                </th>
                <th>
                    Reg No
                </th>
                <th>
                    Contribution Date
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.transactionid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.membername)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contribution_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reg_No)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contribution_date)
                </td>

            </tr>
            }


        </tbody>
    </table>
</div>

<script>

    var $alert = $('.alert');
    if ($alert.length) {
        setTimeout(function () {
            $alert.fadeIn(1000, 0);
            $alert.fadeOut("slow");
        }, 3000)

    }
</script>
