@model NAKATHIWEBPORTAL.Models.License

    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">License  Details</h6>

        </div>
        <div class="col-md-6">


            <a href="~/Insuarance/VehicleLicense" class="btn btn-primary" role="button" style="margin:16px">Vehicle based </a>
            <a href="~/Insuarance/IndidualLicence" class="btn btn-primary" role="button" style="margin:16px">Individual based</a>



        </div>

        <div class="card-body">


            <div class="tab-content">
                <div class="tab-pane fade show active" id="bottom-justified-tab1">
                    @using (Html.BeginForm("IndidualLicence", "Insuarance"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                        <fieldset>
                            <legend class="font-weight-semibold"><i class="icon-person mr-2"></i>Individual Certification  details</legend>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">ID No:</label>
                                        <div class="col-lg-6">
                                            @Html.EditorFor(model => model.possessor, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.reg_no, "", new { @class = "text-danger" })
                                        </div>
                                       
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Issuer :</label>
                                        <div class="col-lg-6">
                                            @Html.DropDownListFor(model => model.license_issuer_code, ViewBag.List1 as SelectList, "--please select License issuer--", new { @class = "form-control", required = "required" })
                                            @Html.ValidationMessageFor(model => model.license_issuer_code, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Type:</label>
                                        <div class="col-lg-6">
                                            @Html.DropDownListFor(m => m.license_type_id, new SelectList(""), "--Please select License type--", new { @class = "form-control", required = "required" })
                                            @Html.ValidationMessageFor(model => model.license_type_id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Active From:</label>
                                        <div class="col-lg-6">
                                            @Html.EditorFor(model => model.activefrom, new { htmlAttributes = new { @class = "form-control", @type = "date", required = "required" } })
                                            @Html.ValidationMessageFor(model => model.activefrom, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label"> Expiry Date:</label>
                                        <div class="col-lg-6">
                                            @Html.EditorFor(model => model.expiryDate, new { htmlAttributes = new { @class = "form-control", @type = "date", required = "required" } })
                                            @Html.ValidationMessageFor(model => model.expiryDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>




                                </div>
                            </div>






                        </fieldset>



                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">Submit form <i class="icon-paperplane ml-2"></i></button>
                        </div>


                    }
                    <!-- /saving state -->

                </div>


                

                <div class="tab-pane fade" id="bottom-justified-tab3">

                </div>

                <div class="tab-pane fade" id="bottom-justified-tab4">

                </div>
            </div>
        </div>
    </div>











   
        

    

    <script>

        var $alert = $('.alert');
        if ($alert.length) {
            setTimeout(function () {
                $alert.fadeIn(1000, 0);
                $alert.fadeOut("slow");
            }, 3000)

        }
    </script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    @*<script>
            $(document).ready(function () {
                $("#license_issuer_code").change(function () {
                    $.get("/Insuarance/GetLicenseIssuers", { license_issuer_code: $("#license_issuer_code").val() }, function () {
                        $("#license_type_id").empty();
                        $.each(data, function (index, row) {
                            $("#license_type_id").append("<option value ='" + row.id + "'>" + row.name + "</option>")
                        });
                    });
                });
            });

        </script>*@
    <script>
        $(document).ready(function () {
            $("#license_issuer_code").change(function () {
                $.get("/Insuarance/GetLicenseIssuers", { license_issuer_code: $("#license_issuer_code").val() }, function (data) {
                    $("#license_type_id").empty();
                    $.each(data, function (index, row) {
                        $("#license_type_id").append("<option value ='" + row.id + "'>" + row.name + "</option>")
                    });
                });
            });
        });

    </script>

    <script>
        $(document).ready(function () {
            $('#possessor').autocomplete({
                source: '/Insuarance/GetIDNumber'
            });
        });
    </script>





































