@model IEnumerable<NAKATHIWEBPORTAL.Models.License_Issuer>


<script src="~/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script src="~/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="~/global_assets/js/demo_pages/datatables_basic.js"></script>
@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissable" id="alert">
        <strong>@TempData["success"]</strong>
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-success alert-dismissable" id="alert">
        <strong>@TempData["error"]</strong>
    </div>
}
<div class="navbar navbar-expand-lg navbar-light " style="margin-bottom:16px">

    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="~/insuarance/Licence_Issuer" class="navbar-nav-link  text-primary d-none d-md-block">
                <i class="icon-add"></i>
                Create Licence Issuer

            </a>
        </li>
    </ul>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="~/insuarance/Licence_Type" class="navbar-nav-link  text-primary d-none d-md-block">
                <i class="icon-add"></i>
                Create Licence Type

            </a>
        </li>
    </ul>



</div>





<!-- Basic datatable -->
<!-- /main navbar -->

<div class="card">

    <div class="card-header header-elements-inline">
        <h5 class="card-title text-center">Licence Issuers</h5>

        <div class="header-elements">
            <div class="list-icons">

            </div>
        </div>
    </div>



    <table class="table datatable-basic">
        <thead>
            <tr>

                <th>
                    Id
                </th>

                <th>
                    Code
                </th>
                <th>
                    Name
                </th>



            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.license_issuer_code)
                    </td>
                    <td>
                        <a href="@Url.Action( "LicenceIssuerEdit",new { id = item.id })"> @Html.DisplayFor(modelItem => item.name)</a>

                    </td>

                </tr>
            }


        </tbody>
    </table>
</div>


<script>

    var $alert = $('.alert');
    if ($alert.length) {
        setTimeout(function () {
            $alert.fadeIn(1000, 0);
            $alert.fadeOut("slow");
        }, 3000)

    }
</script>