@model IEnumerable<NAKATHIWEBPORTAL.ViewModel.DailySavingsSummary>

@{
    ViewBag.Title = "DailySummary";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="http://codeseven.github.com/toastr/toastr.js"></script>
<link href="http://codeseven.github.com/toastr/toastr.css" rel="stylesheet">
<script src="https://use.fontawesome.com/d94f445648.js"></script>
<table class="table table-striped table-hover table-bordered" id="myTable" style="margin-top:100px;">
    <thead>
        <tr>
            <th>
                ID Number
                @*@Html.DisplayNameFor(model => model.id_number)*@
            </th>
            <th>
                Registration Number
                @*@Html.DisplayNameFor(model => model.reg_no)*@
            </th>
            <th>
                Amount(Balance)
                @*@Html.DisplayNameFor(model => model.amount)*@
            </th>
            <th>
                Depositor
                @*@Html.DisplayNameFor(model => model.depositor)*@
            </th>
            <th>
                Saving Type
                @*@Html.DisplayNameFor(model => model.name)*@
            </th>
            <th>
                Last Deposited Date
                @*@Html.DisplayNameFor(model => model.deposited_date)*@
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.reg_no)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.depositor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deposited_date)
                </td>

            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th>
                ID Number
                @*@Html.DisplayNameFor(model => model.id_number)*@
            </th>
            <th>
                Registration Number
                @*@Html.DisplayNameFor(model => model.reg_no)*@
            </th>
            <th>
                Amount(Balance)
                @*@Html.DisplayNameFor(model => model.amount)*@
            </th>
            <th>
                Depositor
                @*@Html.DisplayNameFor(model => model.depositor)*@
            </th>
            <th>
                Saving Type
                @*@Html.DisplayNameFor(model => model.name)*@
            </th>
            <th>
               Last Deposited Date
                @*@Html.DisplayNameFor(model => model.deposited_date)*@
            </th>

        </tr>
    </thead>
</table>
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $('#myTable').DataTable();
        
    </script>

}
