@model IEnumerable<NAKATHIWEBPORTAL.Models.LicencesVm>

<script src="~/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script src="~/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="~/global_assets/js/demo_pages/datatables_basic.js"></script>




<div class="navbar navbar-expand-lg navbar-light " style="margin-bottom:16px">

    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="~/Insuarance/VehicleLicense" class="navbar-nav-link  text-warning d-none d-md-block">
                <i class="icon-add"></i>
                Create Certification

            </a>
        </li>
    </ul>

    



</div>

<!-- /theme JS files -->
<!-- Basic datatable -->
<!-- /main navbar -->


<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title text-center">Vehicles</h5>

        <div class="header-elements">
            <div class="list-icons">

            </div>
        </div>
    </div>



    <table class="table datatable-basic">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.reg_no)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.license_type_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.license_issuer_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.possessor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.possessor_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Photo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.activefrom)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.expiryDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.created_at)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.updated_at)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.created_by)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.updated_by)
                    </th>
                    <th></th>*@
            </tr>
        </thead>


        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.reg_no)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.license_type_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.license_issuer_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.possessor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.possessor_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Photo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.activefrom)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.expiryDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.created_at)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.updated_at)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.created_by)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.updated_by)
                        </td>*@
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }
        </tbody>



    </table>
</div>
<!-- /basic datatable -->
